[2022-09-01 06:19] aidanheerdegen opened #1 "Make How-To Contribute"
As a user who wishes to contribute I need guidelines on how to do this. Without the guidelines I would be worried I was doing the wrong thing, and this would make me less likely to contribute.

[2022-09-01 06:20] aidanheerdegen opened #2 "Add content"

[2022-09-01 23:34] ccarouge opened #3 "Write documentation for albedo in CABLE"

[2022-09-01 23:34] #3 closed

[2022-09-01 23:35] ccarouge opened #4 "Write documentation for albedo"

[2022-09-01 23:37] ccarouge opened #5 "write documentation for albedo"

[2022-09-01 23:37] #5 closed

[2022-09-01 23:53] ccarouge opened #6 "Create skeleton site."
As developers, we need an example skeleton site so we can get feedback and iterate on the design.

First design choice is to choose [Materials for Mkdocs](https://squidfunk.github.io/mkdocs-material/).

[2022-09-02 00:07] aidanheerdegen opened #8 "Add How-To for GitHub commit signing"
It is [trivially easy to impersonate another user](https://betterprogramming.pub/why-and-how-you-should-sign-all-your-git-commits-94435516edae) when committing to git. This does not lead elevated privileges, but could be exploited in a social hack, causing commits to be accepted based on an assumption of identity.

As a user I want collaborators to know they can trust code that comes from me.

As

[2022-09-02 00:57] #6 closed

[2022-09-02 01:01] aidanheerdegen commented on #1
@ccarouge do you have time to do this today? If so, I can review the PR by doing #8 and provide feedback.

[2022-09-02 01:08] ccarouge opened #9 "A few fixes to the design"
Change the build branch for publishing the site to main.
Add a Work In Progress warning to the Home page.

[2022-09-02 01:56] ccarouge commented on #1
I'm working on it right now.

[2022-09-02 03:53] #9 closed

[2022-09-02 04:06] aidanheerdegen opened #11 "Preview PRs to temporary location"
As a user I would like to see a preview of the changes without having to go through the hassle of building and deploying it locally.

As a reviewer I would like to see a preview of a PR before approving it.

[2022-09-02 04:07] aidanheerdegen commented on #11
There is a Marketplace action that provides this functionality

https://github.com/marketplace/actions/deploy-pr-preview

[2022-09-02 09:28] #11 closed

[2022-09-03 06:06] aidanheerdegen opened #14 "Separate spaces for official and community docs"
The story:

As a user I want a clear distinction between documentation provided and supported by ACCESS-NRI, and documentation that is provided by the community.

As a member of the ACCESS-NRI I want it to be clear what documentation is supported by the NRI, so the community know where they can go if they have problems with NRI provided documentation.

A possible solution:

The [PR preview feature

[2022-09-05 06:14] #1 closed

[2022-09-05 07:20] aidanheerdegen opened #16 "Make PR template"
As a user I would find it very helpful to have a [pull request template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository) when making contributions.

As a maintainer I would like a pull request template to ensure contributors know what is expected from them to make the process as smooth as poss

[2022-09-05 07:23] aidanheerdegen commented on #16
As a user I would find it very helpful to have a [pull request template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository) when making contributions.

As a maintainer I would like a pull request template to ensure contributors know what is expected from them to make the process as smooth as poss

[2022-09-05 11:35] ccarouge opened #17 "Bug: Publish GitHub action not working"
We need to fix this error in the publication of the site from the main branch: https://github.com/ACCESS-NRI-Community/ACCESSHub/actions/runs/2991374383

I suspect the error is a typo with a "J" missing:
[code]
It should be JamesIves and not amesIves

[2022-09-05 22:58] ccarouge commented on #8
Is it time to start a training/tutorial repo and put that How to as well as the How to use GitHub in there and simply link to it from the ACCESSHub? Because although I think we need this How to, I don't think it should be directly in the Hub.

[2022-09-05 23:27] aidanheerdegen commented on #17
Well spotted, and apologies for the mistake.

[2022-09-05 23:35] rbeucher opened #19 "Create List of Workshops / Conferences"

[2022-09-06 00:01] aidanheerdegen commented on #8
Yes, I think we should start something separate.

[2022-09-06 00:06] ccarouge commented on #17
The typo fix didn't fix the workflow. The only other thing I can think of is changing the commit hash on that line for "v4".

[2022-09-06 01:13] aidanheerdegen commented on #17
I think you're right. The logs are using version 1

https://github.com/ACCESS-NRI-Community/ACCESSHub/runs/8150385569?check_suite_focus=true#step:2:1

[code]

I'll fix it.

[2022-09-06 01:32] #17 closed

[2022-09-06 01:32] aidanheerdegen commented on #17
*sigh*

[code]

Bad indentation. Fixed in direct push.

[2022-09-06 01:42] aidanheerdegen commented on #17
That is fixed now. Sorry, it was my mistake in the first place.

[2022-09-06 01:46] aidanheerdegen opened #21 "Update README, include link to ACCESSHub web page"
As a user who finds the GitHub site and wants to view the associated rendered web pages I would like it to be easier to find.

[2022-09-06 04:25] aidanheerdegen opened #22 "Create General Technical Documentation (NRI)"
As a user I need some information about how to use GitHub to be able to contribute to ACCESSHub and potentially ACCESS-NRI supported repositories. As a user I value quality information that I know  comes from a trusted source.

As maintainer of ACCESSHub I need a site that provides general information on how to use GitHub that I can link to on ACCESSHub. This should be an NRI produced and supporte

[2022-09-06 04:30] aidanheerdegen commented on #8
Added #22 as a blocking issue.

[2022-09-06 06:04] ccarouge commented on #22
A preference for a repo name? Should we go for a specific repo for How To or a generic "Training" repository?

[2022-09-06 06:59] aidanheerdegen commented on #22
The decision making part of my brain is exhausted. Either would be fine, and can be changed later. How about a "How To" section of a "Training" repo?

(going for maximum consensus)

[2022-09-06 23:35] AndyHoggANU opened #24 "Instructions on modifying"
Just to note that my experience at trying an "Edit directly on github" was different to the instructions.
For me, it created a fork which meant I didn't have the option to commit directly to github.
I think this is because I don't have admin privileges (which will be the case in general).
Maybe these instructions need to cover both eventualities?

[2022-09-06 23:46] aidanheerdegen commented on #24
I believe this is also the reason the preview doesn't work

https://github.com/ACCESS-NRI-Community/ACCESSHub/pull/23#issuecomment-1238755540

Can we use you as a guinea pig @AndyHoggANU and test what we need to do to get this functioning for non-owners?

[2022-09-06 23:51] AndyHoggANU commented on #24
Yep, go for it, just send me instructions

[2022-09-07 00:15] aidanheerdegen commented on #24
I have made a "Reviewers" team and added you. Sorry to waste your time, but I don't think this will work, but I just want to check that is the case before I try adding you to the a team with write access which should do the trick.

[2022-09-07 00:21] aidanheerdegen commented on #24
Can you try the same process you did before (I presume hitting the "edit" button on the site)? This means creating a new PR I am afraid.

[2022-09-07 00:39] AndyHoggANU commented on #24
Tried again. Still didn't see the same view as the instructions (no option to edit directly).

[2022-09-07 00:41] aidanheerdegen commented on #24
Yep. I saw. I've added you to the Contributors team which has write access. Can you try reloading and see if there is an edit button?

[2022-09-07 01:07] AndyHoggANU commented on #24
No edit button but I could merge even though the check failed?

[2022-09-07 01:10] AndyHoggANU commented on #24
Managed to re-run the check - still failed.

[2022-09-07 01:15] aidanheerdegen commented on #24
I can see the edit button from a private browser window (so not logged into GitHub)
![Screen Shot 2022-09-07 at 11 14 11 am](https://user-images.githubusercontent.com/6063709/188767268-587949e4-0ba8-4c52-a534-b3303250fc26.png)

[2022-09-07 01:23] AndyHoggANU commented on #24
Aah, OK, I see.
I had done this differently -- by going through github, navigating to `index.md` and then clicking the pen within github. If you do that, the interface is quite different.

When I do it your way, the checks pass!

[2022-09-07 01:31] aidanheerdegen commented on #24
@ccarouge Can you clarify, do the instructions intend to use the edit button on the rendered site or in the GitHub repository?

[2022-09-07 04:19] ccarouge commented on #24
On the rendered site definitely.

[2022-09-07 04:27] ccarouge commented on #24
I see how to make the text clearer. For example, putting a link with "go to the ACCESSHub site" or simply say "on this site" since they are reading the instructions on the site they need to be. Or both.

[2022-09-07 04:33] aidanheerdegen commented on #24
Could use the graphic above, or something similar.

[2022-09-07 04:34] aidanheerdegen opened #28 "Update references to ACCESS-Hub"
For consistency with the organisational rename, and other repos, this repository was changed from ACCESSHub to ACCESS-Hub. References in the docs need to be changed to reflect this.

[2022-09-07 04:35] aidanheerdegen commented on #28
There is a lack of consistency with the use of ACCESS NRI and ACCESS-NRI. The latter is considered the correct usage, so will change those as well.

[2022-09-07 05:16] aidanheerdegen opened #30 "Add link to Procedures and Practices docs"
As an early user of this site it would be beneficial to have some ACCESS-NRI documentation linked, to understand the nature of what will be linked and how.

The new Procedures and Practices documentation is a good candidate to kick this off.

https://access-nri.github.io/Procedures-and-Practices/

[2022-09-07 05:22] aidanheerdegen commented on #30
Dupe of #2

Closing

[2022-09-07 05:22] #30 closed

[2022-09-07 05:44] #28 closed

[2022-09-07 06:39] aidanheerdegen opened #32 "Work up licensing documentation policy"

[2022-09-08 03:28] #21 closed

[2022-09-08 04:11] aidanheerdegen commented on #14
Pros for a separate branch and effectively separate mkdocs "sub-sites"
- Clearer identification of NRI vs Community supported documentation (Different colour scheme, Title)
- Each site can have it's own navigation tab structure, making more effective use of navigation hierarchy
- ACCESS-NRI content is effectively separated from the Community docs, less confusion and possibility to change NRI docum

[2022-09-12 23:55] #22 closed

[2022-09-12 23:58] ccarouge commented on #8
This was closed by #38. The how-to was merged with the Git and GitHub how-to on [ACCESS-NRI Training site](https://access-nri.github.io/Training/HowTos/GitAndGitHub/github_setup/)

[2022-09-12 23:58] #8 closed

[2022-09-13 00:00] ccarouge commented on #22
Adding content for #2

[2022-09-14 00:20] aidanheerdegen opened #40 "Test and decide on navigation structure"
Need to test single vs split site navigation and decide on what to use

[2022-09-14 00:37] aidanheerdegen opened #41 "Review community splash screen"
Current splash screen needs updating with more meta information about the structure of the site and how to use and navigate it.

[2022-09-14 00:43] aidanheerdegen commented on #40
Decided on split structure.

[2022-09-14 00:43] #40 closed

[2022-09-14 00:48] aidanheerdegen opened #42 "Setup navigation structure for soft launch"

[2022-09-14 00:48] aidanheerdegen opened #43 "Rationalise navigation structure for launch"
Based on feedback from soft launch, reduce/review navigation structure to remove empty sections.

[2022-09-14 00:56] ccarouge opened #44 "Review licensing"

[2022-09-14 00:57] kdruken commented on #41
Important things to have on front page:
- How to cite
- Acknowledgements
- Contact info
- Link to main site

[2022-09-14 00:57] aidanheerdegen opened #45 "Launch comms plan"

[2022-09-14 00:57] ccarouge commented on #44
As a developer, we need to set the license correctly and make sure the copyright appears correctly on the site.

As a user, I want to know if the information given is reusable.

[2022-09-14 03:15] ccarouge commented on #14
We decided to go with the main site pointing to the Community Hub and the ACCESS-NRI as a sub-site following the latest version presented in #37

[2022-09-14 12:01] #14 closed

[2022-09-14 23:29] aidanheerdegen opened #47 "Add more procedures and practices"
Make list of potential candidates

- [x] Documentation platform
- [ ] Forum and discussion platform (in-progress)
- [ ] Release specification (in-progress)
- [x] Reproducibility and performance testing infrastructure

[2022-09-14 23:35] aidanheerdegen opened #48 "Add "About" Tab"
Add NRI Scope and contact info to about tab

[2022-09-14 23:56] ccarouge commented on #24
Highlight not to use level 1 headers in pages because they aren't picked up in the page toc.

[2022-09-15 00:13] ccarouge commented on #24
Add request to join the GitHub organisation to the How to contribute.

[2022-09-15 01:16] rbeucher opened #49 "Add Partner logos/links (as footer if an option)"

[2022-09-15 01:18] rbeucher opened #50 "Add NCI training links in Documentation and Training"

[2022-09-15 01:19] rbeucher opened #51 "Remove "analysis" and "data" in Documentation and Training"

[2022-09-15 01:19] rbeucher opened #52 "Move "Policies" above "Technical" in Documentation and training"

[2022-09-15 01:20] rbeucher opened #53 "Model Evaluation section: Nice splash screen explaining what is here, some idea of when"

[2022-09-15 01:20] rbeucher opened #54 "Model Evaluation: Change / reorganise categories"

[2022-09-15 01:21] rbeucher opened #55 "NRI-HUB Add information to Models splash screen explaining purpose/structure"

[2022-09-15 01:21] rbeucher opened #56 "Add Contact Info (pointer back to main site, quick links to slack etc)"

[2022-09-15 01:21] rbeucher opened #57 "Make NRI splash screen, make clear role of split site, emphasise also includes partners"

[2022-09-15 01:23] rbeucher opened #58 "Change Experiments to models, add data tab, move model eval left, change Community tab "Go to Community Hub"?"

[2022-09-15 01:23] rbeucher opened #59 "Add Scope of NRI"

[2022-09-15 01:24] rbeucher opened #60 "Procedures and practices"

[2022-09-15 01:28] rbeucher opened #61 "Add New tab "Events" with Conferences and Workshops"

[2022-09-15 01:36] rbeucher commented on #49
Partners organisations:

- ANU
- Bureau of Meteorology
- CSIRO
- Monash University
- The University of Melbourne
- UNSW
- University of Tasmania

[2022-09-15 01:36] rbeucher commented on #49
Partners organisations:

- ANU
- Bureau of Meteorology
- CSIRO
- Monash University
- The University of Melbourne
- UNSW
- University of Tasmania

[2022-09-15 01:48] rbeucher opened #62 "Add social links to About section"

[2022-09-15 01:49] rbeucher opened #63 "Add social links to footer?"

[2022-09-15 01:51] rbeucher opened #64 "Add Copyright Information in footer"

[2022-09-15 02:08] aidanheerdegen opened #65 "Teams structure"
Currently I have created a simple teams hierarchy
[code]

Currently there is no "Members" group, just replying on people issuing PRs to become collaborators or just add people individually as members.

[2022-09-15 03:27] ccarouge commented on #64
Don't work on that one yet. There are some changes. See #44

[2022-09-15 03:29] ccarouge commented on #44
For the ACCESS-NRI hub we want to use this: https://github.com/ACCESS-NRI/Training/blob/main/LICENSE.md
Put a link to it from the splash screen and appropriate mention and copyright in footer (see what is done for Training site)

For the ACCESS-Hub, we only want a Disclaimer telling people to check the licenses in each link. Again put disclaimer in the splash screen.

[2022-09-15 03:35] rbeucher commented on #64
I was just gonna add "Copyright 2022 - ACCESS-NRI"

[2022-09-15 03:55] ccarouge commented on #64
Except I've added "Licensed under CC-BY 4.0 2022 by ACCESS-NRI" And for the Community one, I'm not sure if we'll want anything.

[2022-09-15 06:10] kdruken opened #66 "Setup site analytics for Hub"
https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/

[2022-09-15 06:19] rbeucher commented on #64
Could be a CC logo with a link to the licence if you want.

[2022-09-15 06:22] rbeucher commented on #49
![image.png](https://images.zenhubusercontent.com/62fb2cbe712f1c3c56159fdb/4551d30d-578b-414e-b5c3-ca90d75b4243)

[2022-09-15 09:06] ccarouge commented on #63
For the footer, I saw this:
https://squidfunk.github.io/mkdocs-material/upgrade/#changes-to-html-files

I wonder if we could use this structure to retain the setting of the copyright and social links via `mkdocs.yml` while still personalising the footer.

[2022-09-15 09:23] rbeucher commented on #63
Yes, I thought about that but it's too much of a pain I think.

[2022-09-15 23:33] ccarouge commented on #49
It looks nice but I don't know if we want the copyright there in the community site.

[2022-09-15 23:34] ccarouge commented on #49
Do we need NCRIS?

[2022-09-15 23:45] ccarouge commented on #41
@kdruken For the "How to cite" and "Acknowledgements", what does that refer to? I don't think of any reason to cite or acknowledge anything from ACCESS-Hub since it's a list of links to resources hosted elsewhere. Or is that simply a disclaimer? People should check the conditions of utilisation of each linked resource.

For ACCESS-NRI Hub, isn't it easier also to have the "How to cite" and "Acknow

[2022-09-15 23:48] rbeucher commented on #49
I think we need NCRIS yes.

@kdruken, @aidanheerdegen  What do you think?

[2022-09-15 23:50] rbeucher commented on #63
I'll have a look. I agree it would be good to retain the settings in the `mkdocs.yml`

[2022-09-15 23:57] rbeucher commented on #63
OK It's easy and much better, thanks for pointing that out!

[2022-09-16 00:21] ccarouge commented on #49
Get the social links to work from the mkdocs.yml.

No copyright for community site.

For ACCESS-NRI Hub, add the CC-BY 4.0 icon to the copyright.

[2022-09-16 00:36] #60 closed

[2022-09-16 00:41] #59 closed

[2022-09-16 00:50] kdruken opened #68 "Review Hub headers"
Review headers for each side of site. Consider other logos and trying to rework how the name appears (can we limit the number of hyphens?)

[2022-09-16 00:52] #42 closed

[2022-09-16 00:56] ccarouge opened #69 "Add revisioning feature to pages"

[2022-09-16 00:57] kdruken opened #70 "Site review"
Site review before launch to check text, look/feel, navigation, etc.

[2022-09-16 00:57] ccarouge commented on #69
Material for Mkdocs has support to show for each page the dates of creation, last modification and authors/contributors.
https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#document-dates

[2022-09-16 00:58] rbeucher opened #71 "Add CI / Tools to check for dead links"

[2022-09-16 01:11] kdruken opened #72 "Soft launch!"
- [ ] site review by @kdruken
- [ ] prepare communication to reviewers to explain what we expect from them

[2022-09-16 11:50] #63 closed

[2022-09-16 11:50] #64 closed

[2022-09-16 11:50] #49 closed

[2022-09-16 12:20] #51 closed

[2022-09-16 12:20] #52 closed

[2022-09-16 12:20] #58 closed

[2022-09-16 12:20] #61 closed

[2022-09-16 12:20] #69 closed

[2022-09-17 00:05] rbeucher opened #77 "Use Domain Logos from website in Splash screens for each model component"

[2022-09-17 01:44] aidanheerdegen opened #78 "Search bar has disappeared"
The search bar seems to have disappeared from the headers of both "sites".

[2022-09-18 23:10] ccarouge commented on #41
Closed by #74

[2022-09-18 23:11] ccarouge commented on #44
Closed by #74

[2022-09-18 23:11] #44 closed

[2022-09-18 23:11] ccarouge commented on #57
Closed by #74

[2022-09-18 23:15] kdruken commented on #41
@ccarouge - this was more referring to using the NRI content, perhaps on the community site it's all taken care of in the disclaimer to see the content's own terms of use etc. but for NRI generated or curated content, I think we do want to link or display our recommended citation and acknowledgement format. For the initial launch, this could be to direct to the main website page that has the ackno

[2022-09-18 23:18] ccarouge opened #79 "fix navigation to license page for ACCESS-NRI Hub"
During the change in the navigation, the page with the human-readable license for ACCESS-NRI Hub has disappeared from the navigation. We should add it back in mkdocs-nri.yml.

[2022-09-18 23:30] ccarouge commented on #41
OK, thanks. I'll add the acknowledgement link to the home screen then.

[2022-09-19 01:51] ccarouge commented on #78
The addition of the git-revision-date-localized plugin caused this. Looking to see why it is happening.

[2022-09-19 01:53] ccarouge commented on #78
Found the cause in the Material for Mkdocs documentation:

We need to specify the search plugin because we have added another plugin. I'll put this together with a PR for another ticket.

[2022-09-20 00:36] #55 closed

[2022-09-20 00:44] #24 closed

[2022-09-20 01:10] #79 closed

[2022-09-20 01:10] ccarouge commented on #78
Closed by #67

[2022-09-20 01:10] #78 closed

[2022-09-20 01:21] #71 closed

[2022-09-20 01:34] ccarouge opened #84 "Fix deadlinks"
Added CI to [check for deadlinks][deadlinks] as found a few, need to clean those.

[deadlinks]: https://github.com/ACCESS-Hub/ACCESS-Hub/actions/runs/3086767646/jobs/4991458234

[2022-09-20 01:36] ccarouge commented on #84
How to contribute guide refers to http://127.0.0.1:8000 to give the location of the local preview. This will not exist but needs to be here. Need to whitelist this link from the CI.

[2022-09-20 01:52] ccarouge commented on #84
This is flagged as a deadlink: `../contribution_setup/#install-material-for-mkdocs-not-required` but it actually works in the documentation. I'll disable the check for the links to sections on other pages.

[2022-09-20 01:56] ccarouge commented on #84
Some links are flagged as dead because they return codes [403](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403) and 401. Should we whitelist these codes in the config file @rbeucher ?

[2022-09-20 02:05] rbeucher commented on #84
yes go for it

[2022-09-20 03:46] #50 closed

[2022-09-20 03:46] #53 closed

[2022-09-20 03:46] #77 closed

[2022-09-20 04:16] #66 closed

[2022-09-20 04:17] ccarouge commented on #84
Closed by #85

[2022-09-20 04:17] #84 closed

[2022-09-20 05:19] rbeucher commented on #68
@ccarouge I Think you have done that right?

[2022-09-20 05:24] ccarouge commented on #68
Actually, I didn't look at logos. I've only changed the names for reducing the number of hyphens. @rbeucher do you still prefer to use the whole ACCESS-NRI logo?

[2022-09-20 05:25] rbeucher commented on #68
I had a look last week. The colors make it difficult. Maybe later?

[2022-09-20 05:27] #16 closed

[2022-09-20 05:29] ccarouge commented on #72
@kdruken We are ready for a site review before the soft launch: https://access-hub.github.io/ACCESS-Hub/

@rbeucher just tagging you so you know I've asked Kelsey.

[2022-09-20 05:35] ccarouge commented on #72
I'm starting [a doc](https://anu365.sharepoint.com/:w:/r/sites/ACCESS-NRI/Shared%20Documents/Release%20Management/[ACCESSHub_softlaunch_message](https://anu365.sharepoint.com/:w:/r/sites/ACCESS-NRI/Shared%20Documents/Release%20Management/ACCESSHub_softlaunch_message.docx?d=w408687358d094c76af9002b88e19bfd6&csf=1&web=1&e=8WdLab).docx?d=w408687358d094c76af9002b88e19bfd6&csf=1&web=1&e=8WdLab) to prep

[2022-09-21 00:04] rbeucher opened #89 "Add a favicon"

[2022-09-21 02:07] #89 closed

[2022-09-21 05:52] rbeucher opened #91 "Merge Hubs into one single entity"

[2022-09-21 05:53] rbeucher commented on #91
Based on the discussion we had this afternoon we need to merge the Hubs into one.
@ccarouge I'm gonna do a first pass on this now.

[2022-09-26 01:42] ccarouge opened #93 "Reorder the pages on science fields and configurations"
Pages on different science fields (e.g atmosphere, ocean...) and different configurations (e.g ACCESS-ESM, AM...) should be ordered with:

- ACCESS-ESM
- ACCESS-CM
- Then ordering by alphabetical order

Or:
 - physical domains first in alphabetical order
 - other modules (chemistry, bgc etc.) in alphabetical order.

[2022-09-26 01:50] #91 closed

[2022-09-26 01:52] rbeucher opened #94 "Reorganise working group section."

[2022-09-26 01:54] ccarouge opened #95 "Add text on how to contribute to empty pages"
Look at https://rsetoolkit.github.io/tech/ for inspiration to encourage the community to contribute.

Add text about the ACCESS-NRI adding more supported material in the future where relevant.

[2022-09-26 01:54] rbeucher commented on #94
Remove working group pages.
Need a text to explain that working groups are coming...
Use admonition block

[2022-09-26 01:56] ccarouge opened #96 "Add How to contribute guide to the About section"
We need a direct navigation to the How to contribute guide so people can navigate to it if they like.

[2022-09-26 02:00] ccarouge opened #97 "Review all the links"
Make sure all links are working and render correctly on the published site.

[2022-09-26 02:06] rbeucher opened #98 "Model Evaluation splash screens needs an info admonition."

[2022-09-26 02:07] ccarouge commented on #95
Use the text in Tip (important) admonition boxes

[2022-09-26 02:07] rbeucher opened #99 "Configurations needs an admonition block for the splash screem"

[2022-09-26 02:09] ccarouge opened #100 "Configuration spash screen needs an important admonition"

[2022-09-26 02:09] ccarouge opened #101 "Add material to the Coupler page"
Under Model Components, we need to add information for the coupler. Some information about OASIS3-MCT and NUOPC.

[2022-09-26 02:10] rbeucher opened #102 "Events need an admonition block"

[2022-09-26 02:15] rbeucher opened #103 "Fix Table Model Components"

[2022-09-26 04:08] #57 closed

[2022-09-26 05:01] kdruken commented on #72
@ccarouge @rbeucher some feedback on text/items under each section for consideration (many or some of which might be things to consider before full launch):

- Could we combine the 2 tabs ‘ACCESS Hive’ and ‘About’ and just call it ‘About’?
    - Use a subsection to put the info from the about tab there?
    - And what did we want to put here - perhaps it’s a quick statement that directs viewers to

[2022-09-26 05:29] #93 closed

[2022-09-26 05:34] #41 closed

[2022-09-26 05:35] #101 closed

[2022-09-26 05:38] ccarouge commented on #103
Closed by #104

[2022-09-26 05:38] #103 closed

[2022-09-26 06:16] #62 closed

[2022-09-26 06:16] #48 closed

[2022-09-26 06:16] #56 closed

[2022-09-26 06:16] #96 closed

[2022-09-26 06:46] ccarouge opened #108 "Update How to contribute guide"
update in view of review in #72

[2022-09-26 23:12] #98 closed

[2022-09-26 23:12] #95 closed

[2022-09-26 23:12] #99 closed

[2022-09-26 23:12] #102 closed

[2022-09-26 23:12] #94 closed

[2022-09-26 23:22] #108 closed

[2022-09-27 00:59] ccarouge opened #112 "Change license to CC-BY 4.0"
It is better for this site to be under the CC-BY 4.0 license for ACCESS-NRI than in the public domain.

[2022-09-27 04:01] #112 closed

[2022-09-27 04:45] #97 closed

[2022-09-28 00:08] ScottWales commented on #112
It's still marked as public domain in the readme file

[2022-09-28 00:11] ScottWales opened #114 "How do "recommended" and "supported" differ?"
The "recommended" support level also states that it is "supported at NCI" - how does this differ from the "supported" level? Are "supported" tools supported at other HPC sites?

[2022-09-28 00:12] ccarouge commented on #112
Fixed.

[2022-09-28 00:26] ScottWales opened #116 "External contribution workflow"
When someone not in the organisation tries to do an ['edit directly on github'](https://access-hive.github.io/ACCESS-Hive/about/contribute/#edit-directly-on-github) change it won't give the option of committing directly to the main branch, instead it will make a fork for you under your own github account

[2022-09-30 00:34] rbeucher commented on #116
Yes. That's the intended behavior. Should we clarify this maybe @ccarouge ?

[2022-09-30 00:39] rbeucher commented on #114
We need to clarify the levels of support, I agree.

[2022-09-30 00:40] rbeucher commented on #116
We also need a way to get people to join the Github organisation. People can only be invited though. @ccarouge

[2022-09-30 00:46] ccarouge commented on #116
Argh, I didn't want it to make a fork. I simply wanted it to make a branch and a PR.

[2022-09-30 00:48] rbeucher commented on #116
Might be a good idea to invite the in-kinds to the organisation...

[2022-09-30 00:55] ccarouge commented on #116
There is nothing about joining the GitHub organisation on ACCESS-Hive yet because we don't know how people should ask for an invite. If GitHub had a "request to join" option that would be a lot simpler!

[2022-09-30 01:03] ccarouge commented on #116
Invitation sent to all the recipients of the message for feedback.

[2022-09-30 01:14] ccarouge commented on #114
Let's have a go at some definitions:

"Supported" should be things the ACCESS-NRI is maintaining.

"Recommended" are other things that are available to the community easily (so typically available at NCI) but not directly maintained by ACCESS-NRI. The ACCESS-NRI believes the recommended tools are of high quality and likely to be actively maintained.

"Community" is for anything that has been done

[2022-09-30 01:44] rbeucher commented on #114
There is limited support for non-NCI HPC though... I mean, happy to help but if we don't have control on the machine we can't really help much.

[2022-10-03 23:20] MartinDix opened #118 "Add GC5 assessment workshop to events"

[2022-10-04 03:16] MartinDix opened #119 "Unable to assign issue"
How to contribute says

After creation, please [assign the Issue to yourself in the right-hand side panel](https://docs.github.com/en/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users) if you intend on working on the issue.

I tried this after creating #118, but I only have a list, not a menu, on the RHS. The github documentation says "Anyone with write

[2022-10-04 04:36] ccarouge commented on #119
OK, we'll have to see what we do about the permissions on this repo. Assignation of the issue isn't a big deal, especially once there is a PR open and linked. So I could just remove that from the contribution guidelines for now. Would that be OK?

[2022-10-04 04:39] ccarouge opened #121 "PR preview not building for members without write access"
The action to [deploy github pages](https://github.com/JamesIves/github-pages-deploy-action) only works for people with write access to the repository.

It seems there is an option to configure Git to a specific user which we could use so all PR are built from the same GitHub user account with writing access to the repository.

[2022-10-04 04:51] ccarouge commented on #121
The action we are using is not set to work in this case. Some changes are in the works: https://github.com/rossjrw/pr-preview-action/issues/3 but the changes are not yet ready for use.

[2022-10-04 06:07] #116 closed

[2022-10-04 21:26] MartinDix commented on #119
Ok with me.

[2022-10-04 22:38] ccarouge commented on #121
There are a few options here:

- give write access to all the organisation's members. Downside: requires a good vetting system of who becomes a member, any member could then create a repository in this organisation.
- leave it as is and remove the possibility to have a preview from the PR for people without write access. Downside: it can be hard to review changes correctly without a preview.
- cha

[2022-10-04 23:31] ccarouge commented on #121
For the now, we will go with the 3rd option above for ACCESS-Hive. We'll investigate the 4th option over the longer term.

[2022-10-07 00:38] #121 closed

[2022-10-09 22:46] NBateman-bit opened #127 "Feedback to Soft Launch"
I love the feeling of the site and that is clean and very clear.

I feel the tabs ACCESS Hive and About should be merged  to just About, and perhaps would be good to have a tab called Contributions or How to contribute?. About could have the general description, links to the ACCESS-NRI website, etc, the tip square and License info

A question for the ACCESS-Hive tab. It says: “This portal goal is

[2022-10-10 10:38] ccarouge commented on #65
What is the difference between a "member" and a "collaborator" in terms of permissions etc.

[2022-10-10 10:49] ccarouge commented on #70
Summary of feedback:

- [ ] Merge "ACCESS-Hive" and "About" tabs. Maybe add a "Contributions" tab for the contribution guidelines. (#127, #43 )
- [ ] "About" page: refine the definition of "supported", "recommended" and "community" links (#114)
- [ ] Should we explain where the documentation supported by ACCESS-NRI will reside in the "ACCESS-Hive"/"About" page? (#127)
- [ ] "Components" tab: in th

[2022-10-10 22:32] rbeucher commented on #70
The indexing of the website is a bit of a mystery to me. I did request the site to be indexed from the google search console. Something to investigate more.

[2022-10-10 22:33] ccarouge commented on #70
We also need to decide on:

- [ ] communication for the launch
- [ ] links between ACCESS-Hive and the ACCESS-NRI website and other resources (e.g. a permanent link from the newsletter?)

[2022-10-11 05:28] aidanheerdegen commented on #70
- [ ] Inconsistent use of hyphen in ACCESS-Hive

[code]

[2022-10-11 05:36] aidanheerdegen commented on #70
- [ ] Add information on how to add tags to "how to contribute"

[2022-10-11 23:29] ccarouge commented on #70
- [ ] change name of the organisation to ACCESS-Community

[2022-10-12 00:10] aidanheerdegen opened #130 "Forum setup and linking"
We need a forum for community interaction, support and self-organisation. This needs to interact well with the hive.

List of requirements for forum

- [x] User sign-up options
- [ ] Who are moderators?
- [ ] Link to code of conduct
- [ ] Meta information about the forum, what it is for and how it is organised
- [x] Check mailing list capability with locked topic

Requirements for linking from Hiv

[2022-10-12 00:11] rbeucher opened #131 "Need Review Guidelines for reviewers"

[2022-10-12 00:27] rbeucher opened #132 "Refactor Events Tab"

[2022-10-12 00:31] rbeucher opened #133 "Review of "how to contribute" guide"
With the changes made to the organisation and the About section, some changes are necessary for the "how to contribute" guide.

- Navigation: Should the guide still be in one page? Could we put it as a sub-section of the About tab with several sub-pages? Would it feel less dense and easier to navigate?
   - New possible structure of guidelines:
       - Abstract
       - Quick change from GitHub

[2022-10-12 00:32] rbeucher opened #134 ""MED": review content of the splash screen"
- [x] Define ‘MED’ acronym at start of description if it’ll be used
- [x] Though again, I’d consider keeping it general as ‘ACCESS-NRI will offer’ as it might be cleaner (mainly because we don’t have a clear public description of our org though I also think it helps keep it broad and inclusive for the community and other teams)
If going with this approach, the line ‘MED Team will offer:” could be

[2022-10-12 00:37] rbeucher opened #135 "Training: Review content of the Info box."

[2022-10-12 00:37] rbeucher opened #136 "Training: review organisation from soft launch feedback"

[2022-10-12 00:38] rbeucher opened #137 "Indexing the Hive into Google and other search engines"

[2022-10-12 00:42] rbeucher commented on #137
Indexing of the https://access-hive.github.io/ACCESS-Hive URL is in the Google queue...

We can check on Google Search Console using the ACCESS Bot google account
https://search.google.com/search-console/about

[2022-10-12 00:42] aidanheerdegen opened #138 "Coalesce about info"
Spawned from #70

- [x] Merge "ACCESS-Hive" and "About" tabs.
- [x] ~Maybe add a "Contributions" tab for the contribution guidelines.~
- [x] ~Add link to the main ACCESS-NRI website somewhere (https://github.com/ACCESS-Hive/ACCESS-Hive/issues/127, https://github.com/ACCESS-Hive/ACCESS-Hive/issues/43, https://github.com/ACCESS-Hive/ACCESS-Hive/issues/72 )~ moved to #145
- [x] "About" page: refine t

[2022-10-12 00:44] rbeucher opened #139 "create reusable actions from the preview workflows so we can reuse them for other mkdocs sites."

[2022-10-12 00:47] aidanheerdegen opened #140 "Change organisation to identify community nature"
ACCESS-NRI wants the community to be able to use the same organisation to host orphaned documentation.

As a user having the GitHub organisation named the same as the documentation hub repository (ACCESS-Hive) does not give the impression that the organisation can be used by the community for this purpose.

The suggestion was to change the name of the organisation from ACCESS-Hive to ACCESS-Commun

[2022-10-12 01:26] ccarouge commented on #136
- [ ] Move "Training resources from partners" to new page titled "Additional resources". Write NCI in full first time it is written.
- [ ] Review content of the Info box. (#72) Remove mention of specific teams.
- [ ] Change Technical training title. "How-to guides"?

[2022-10-12 01:27] ccarouge commented on #136
This ticket contains and closes #135

[2022-10-12 01:27] #135 closed

[2022-10-12 03:05] #118 closed

[2022-10-14 01:22] aidanheerdegen commented on #130
Added GitHub and Google sign-up options. It is [possible to add OrcID authentication](https://meta.discourse.org/t/sign-in-to-discourse-using-orcid/105488/2) but for a hosted solution that [requires a business plan](https://www.discourse.org/plugins/oauth.html).

[2022-10-14 04:04] aidanheerdegen commented on #138
I've done the major rearrangement and some of the other items above. @ccarouge has thoroughly reviewed that and improved it further. We'll merge that PR now to make it easier for other contributions without having lots of merge conflict headaches.

I'll need input from Natalia on some of the other items, so this will likely go on the back-burner until after eResearch.

[2022-10-14 05:02] ccarouge commented on #140
I like ACCESS-Collective. Other idea: ACCESS-Hub. We changed the name because we thought that would solve the indexing with search engines but it hasn't so we could go back to it.

[2022-10-14 05:08] #136 closed

[2022-10-14 05:09] ccarouge opened #144 "Change base permissions to the organisation"
We want all members of the organisation to have write permissions at least. This means the organisation can truly become a place for the ACCESS Community to collaborate.

[2022-10-14 05:09] ccarouge commented on #144
It is now done: https://github.com/organizations/ACCESS-Hive/settings/member_privileges?enable_tip=#base-permissions

[2022-10-14 05:09] #144 closed

[2022-10-14 05:14] aidanheerdegen opened #145 "Better linking to ACCESS-NRI"
Spawned from #70 and #138

- [ ] Add link to the main ACCESS-NRI website somewhere (https://github.com/ACCESS-Hive/ACCESS-Hive/issues/127, https://github.com/ACCESS-Hive/ACCESS-Hive/issues/43, https://github.com/ACCESS-Hive/ACCESS-Hive/issues/72 )
- [ ] Add linked badge to ACCESS-NRI github repo in footer along with twitter and other badges
- [ ] Add link to ACCESS-NRI logo on splash screen

[2022-10-14 05:17] aidanheerdegen opened #146 "Code of conduct, ethics and acknowledgement of country"
Spawned from #70 and #138

Grouped as these require collaboration with Natalia

- [x] Acknowledgement of country? (https://github.com/ACCESS-Hive/ACCESS-Hive/issues/72)
- [x] Code of conduct / ethics statement? (https://github.com/ACCESS-Hive/ACCESS-Hive/issues/72)

[2022-10-14 05:22] aidanheerdegen opened #147 "Citation and contributors"
Spawned from #70 and #138

- [ ] Maybe add a "Contributions" tab for the contribution guidelines
- [x] Acknowledgement / citation text (SAC)

[2022-10-14 05:26] aidanheerdegen commented on #138
Moved outstanding tasks to dedicated issues.

[2022-10-14 05:26] #138 closed

[2022-10-14 05:30] ccarouge opened #148 "Protect `gh_pages` branch"
We want to protect the `gh_pages` branch so nobody can mistakenly break the published site.

But simply adding an obligation of pull request breaks the CI as the JamesIves action pushes directly to the branch.

[2022-10-14 05:31] ccarouge commented on #148
A solution is found [here](https://github.com/community/community/discussions/13836):

@rbeucher @aidanheerdegen Do we have a better idea? Is the downside of the solution above acceptable?

[2022-10-14 05:41] aidanheerdegen commented on #148
We only need to deploy this to one repo, so it is do-able. I agree it would be better is the GitHub Actions bot could be selected as an app that can push directly to a branch.

[2022-10-14 05:43] ccarouge commented on #148
We need this on all the documentation repositories we will create in ACCESS-NRI. Or am I wrong here?

[2022-10-14 05:44] aidanheerdegen commented on #148
Only team members will have access to them, so I think we don't need it for ACCESS-NRI repos.

[2022-10-14 05:49] aidanheerdegen commented on #130
Need a guinea pig user without admin privileges to test the functionality of using closed forum topics as targeted mailing lists.

@dougiesquire could you sign up to https://access.discourse.group (if you're happy to do so, can you sign in with your GitHub account to test that it works)

Then cruise over to this topic:

https://access.discourse.group/t/notifications-about-something-important/13/7

[2022-10-14 06:15] ccarouge commented on #114
New definitions have been published by #143

[2022-10-14 06:15] #114 closed

[2022-10-14 06:26] dougiesquire commented on #130
Trying to log in with Github returned a 404 error. I'll wait to progress further so I can test any changes you make

[2022-10-16 23:09] aidanheerdegen commented on #130
Hi @dougiesquire. I've configured it correctly, can you try again? Thanks.

[2022-10-16 23:31] dougiesquire commented on #130
Ta - I'm now successfully logged in (via Github) and watching the above topic

[2022-10-17 01:09] aidanheerdegen opened #149 "Add splash screens for model configurations and components"
We need short descriptions in the splash screens for all the configurations, similar to the model components splash screens. The acronym hell is one issue, but also brief background for context.

- [ ] ACCESS-ESM
- [ ] ACCESS-CM
- [ ] ACCESS-AM
- [ ] ACCESS-OM
- [ ] ACCESS-S

[2022-10-17 01:29] dougiesquire commented on #130
@aidanheerdegen,

- yes, I got an email notification about your post
- there's no option to reply to the thread on discourse. The email notification suggests that I can reply to the email to reply to the thread, but that returned a reply saying "The topic you are replying to is currently closed and no longer accepting replies" and giving me an option to contact admin

[2022-10-17 01:31] ccarouge commented on #133
For orphaned documentation, list options (Zenodo, repository in ACCESS-Collective).

[2022-10-17 01:31] aidanheerdegen commented on #130
Thanks @dougiesquire! Much appreciated. This gives people a method to create targeting mailing lists for specific topics, that won't get spammed by people who don't realise they shouldn't reply to them.

[2022-10-17 04:33] aidanheerdegen commented on #147
ACCESS-ESM1.5 canonical reference

https://www.publish.csiro.au/es/ES19035

[2022-10-18 01:23] ccarouge commented on #132
is this closed by $142?

[2022-10-18 01:43] ccarouge opened #153 "Update links to new repo name"
We will want to update the links on the different pages and `mkdocs.yml` to point to the new repo name even if the redirection from GitHub works so that it isn't confusing in a few months when looking back at it.

[2022-10-18 03:18] ccarouge opened #156 "change icons in components table"
We want to use the icons with the component names so we can remove the tables rows with the text.

[2022-10-18 03:30] #140 closed

[2022-10-18 04:08] #153 closed

[2022-10-18 05:13] rbeucher commented on #148
So the @access-bot account could be use for this.
I have created a PAT and added a gh-pages environment with it. I can retrieve the PAT from the publish workflow and pass it to the JamesIves action... If we restrain access to gh-pages to @access-bot only this should work.
Pb is the PR-deploy workflow. I don't know how to get it to work...

[2022-10-20 05:23] aidanheerdegen commented on #149
Some configurations already had info, added more where necessary, and made some for those without. Closed in #157

[2022-10-20 05:23] #149 closed

[2022-10-21 01:08] aidanheerdegen opened #161 "Change repo name to standard GitHub pages name"
Currently the website URL has the repo name website as the leading element. If we [want to get rid of this](https://stackoverflow.com/questions/44531269/is-there-a-way-to-remove-repository-name-from-github-page-link) we need to [change the name](https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site) of the repo to [access-hive.github.io](http://access-hive

[2022-10-23 22:59] ccarouge opened #163 "Preview action is broken"
The preview action returns the wrong URL for the preview now that the repository name includes `.github.io`. The URL should simply be `https://<repo>` but it is given as `https://<org>.github.io/<repo>`

This has been solved in [v1.2.0 of rossjrw action](https://github.com/rossjrw/pr-preview-action/releases/tag/v1.2.0). But that version does not allow to build preview from forks. So to fix the pro

[2022-10-25 00:39] aidanheerdegen commented on #163
Didn't fix. Have updated out version of the preview plugin. Update to this (v2.1)

https://github.com/ACCESS-NRI/pr-preview-action/pull/4

[2022-10-25 01:04] #163 closed

[2022-10-25 01:12] rbeucher opened #169 "Change Domain name on HIve Repo."
See

https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site#co[…]ain

Note that this is an “Apex domain” which is a bit more complex than configuring a straight subdomain, and requires setting up an ALIAS  or A DNS record.

[2022-10-25 01:13] rbeucher commented on #169
Also see this about correct placement of the CNAME file in the repo
https://www.mkdocs.org/user-guide/deploying-your-docs/#custom-domains

[2022-10-25 05:08] #156 closed

[2022-10-25 06:15] #145 closed

[2022-10-25 22:27] #133 closed

[2022-10-26 01:30] rbeucher opened #173 "GitHub and Google login broken on the forum after domain change"
@aidanheerdegen can you change it?

[2022-10-26 01:31] rbeucher commented on #173
Did you use the system account to set up the OAUTH?

[2022-10-26 01:37] rbeucher commented on #68
One thing I'm wondering about is the placement of the forum link.
In discourse I can only put the link to the HIVE in the top right corner.
The link to the Forum on the Hive should also be in the top right corner...
What do you think?

Should I also keep it in the navigation?

@aidanheerdegen @kdruken @ccarouge

[2022-10-26 01:57] aidanheerdegen commented on #173
I transferred the OAUTH app to the ACCESS-Hive org. I have updated it and it is working. I believe you set up the google OAUTH.

[2022-10-26 02:20] ccarouge commented on #68
Top right would be good. Do you think as a last tab or something else?

I like the button in the navigation, I think I'd vote to keep it but not a strong feeling either way.

[2022-10-26 02:32] #173 closed

[2022-10-26 02:51] rbeucher commented on #146
The github community guidelines are quite good.

https://docs.github.com/en/site-policy/github-terms/github-community-guidelines

[2022-10-26 02:54] #130 closed

[2022-10-26 03:45] aidanheerdegen commented on #68
There are plugins like [Versatile Banner](https://meta.discourse.org/t/versatile-banner/109133), but that isn't installed in the hosted version, so not sure why I suggested it :)

Just a small note, but when you're on the Forum and click on the ACCESS-Hive link, it opens a new window, but vice-versa and it does not.

I am not sure about the Forum link in the tabs. I like the idea, but all the othe

[2022-10-26 03:47] rbeucher commented on #68
I tried Versatile Banner. Not great

That's the all point I would like them to be integrated, not 2 different sites.

[2022-10-26 03:53] aidanheerdegen commented on #68
Sounds nice, but I think probably too difficult right now with the mix we've chosen to use.

[2022-10-26 04:04] rbeucher commented on #68
I think it works quite well actually

[2022-10-26 04:09] aidanheerdegen commented on #68
The ask the community in the soft-launch if they like it and it makes sense to them. I'm not bothered if they're not.

[2022-10-26 23:17] #131 closed

[2022-10-27 00:58] aidanheerdegen opened #179 "Become a member of the ACCESS-Hive repository"
If you want to become a member of this repository reply to this issue and ping the @ACCESS-Hive/maintainers team to request an invitation to join.

[2022-10-27 01:01] ccarouge commented on #179
@ACCESS-Hive/maintainers Is that necessary knowing each team has a discussion page? Is that discussion page public or not? https://github.com/orgs/ACCESS-Hive/teams/maintainers

[2022-10-27 01:06] rbeucher commented on #179
I don't think it is public...

[2022-10-27 01:07] rbeucher commented on #179
Pb with the issue is it could actually be too much public...

[2022-10-27 01:51] aidanheerdegen opened #180 "Add MOM6 tutorials"
Add MOM6 tutorial info @StephenGriffies mentioned in COSIMA meeting

https://github.com/NOAA-GFDL/MOM6-examples/wiki/Tutorials

[2022-10-27 03:40] aidanheerdegen opened #182 "Add xmovie link"
Worth to link to xmovie? Seems a very cleanly executed, if not extensive, package. Written by someone who is quite involved in pangeo I believe.

https://xmovie.readthedocs.io/en/latest/examples/quickstart.html

[2022-10-28 00:01] #180 closed

[2022-10-28 01:28] aidanheerdegen commented on #169
Closed by https://github.com/ACCESS-Hive/access-hive.github.io/pull/172

[2022-10-28 01:28] #169 closed

[2022-10-28 02:56] aidanheerdegen commented on #137
I can see access-hive.org.au in google but not forum.access-hive.org.au yet.

[2022-10-28 03:41] rbeucher commented on #137
I have not requested indexing of the forum.

[2022-10-28 04:01] aidanheerdegen commented on #169
Checking Github trackback links: see https://forum.access-hive.org.au/t/custom-domain-name/24

[2022-10-28 04:17] aidanheerdegen commented on #169
Checking Github trackback links: see https://forum.access-hive.org.au/t/custom-domain-name/24

[2022-10-28 04:40] aidanheerdegen commented on #182
Testing linkbacks to forum https://forum.access-hive.org.au/t/this-is-a-test-topic/48/2

[2022-10-28 05:04] aidanheerdegen commented on #146
This is a nice example of a code of conduct

https://github.com/Spatialised/gdal-tiler/blob/master/CODE_OF_CONDUCT.md

[2022-11-01 01:18] aidanheerdegen opened #184 "Delineate tabs more clearly"
It is apparently not super obvious that the tabs are actually tabs.

Ideas:

- a slightly different colour could highlight them better
- is there a way to make actual "tabs"?
- put a tiny bit of "how to navigate this site" in the opening splash screen

[2022-11-01 01:20] aidanheerdegen opened #185 "Remove data products section"
Add "what are reanalyses" to the splash screen at

https://access-hive.org.au/model_evaluation/datasets/#jra55-do

[2022-11-01 05:08] aidanheerdegen commented on #146
There is now this banner on the website

So I guess we'll just have to reproduce that?

[2022-11-01 06:38] rbeucher commented on #146
Yes I think so.

[2022-11-04 03:22] lidefi87 opened #187 "Link to `maintainers` in How to contribute guide is broken"
This is the website I'm referring to https://access-hive.org.au/about/contribute/ under the "Become a member of the ACCESS-Hive organisation" section

[2022-11-07 01:11] aidanheerdegen commented on #187
Hi Denisse,

Thanks for pointing that out. The link only works for members of the organisation, so is effectively broken for anyone who wishes to join.

I have replaced with a link to an issue where you can request to join the organisation

https://github.com/ACCESS-Hive/access-hive.github.io/issues/179

If you would like to join could you try requesting on that issue, as it gives others an idea t

[2022-11-07 02:33] #187 closed

[2022-11-07 04:20] aidanheerdegen opened #189 "Reference to old repo name in contribution guide"
The contribution guide uses the old repo name (`ACCESS_Hive`)

https://github.com/ACCESS-Hive/access-hive.github.io/blame/main/docs/about/contribute/local_edit.md#L17

Should be changed to

[code]

[2022-11-07 04:22] aidanheerdegen commented on #137
Looks like forum.access-hive.org.au is now being indexed. Will close this issue.

[2022-11-07 04:22] #137 closed

[2022-11-07 05:36] aidanheerdegen opened #190 "Tabs are not obvious enough"
It seems some users do not understand the top level navigation tabs are actually sections/tabs.

We can change the CSS to emphasise these are tabs, here is an example

https://htmldog.com/techniques/tabs/

Customisation is straightforward

https://squidfunk.github.io/mkdocs-material/customization/

There is already a custom CSS file:

https://github.com/ACCESS-Hive/access-hive.github.io/blob/main/

[2022-11-07 07:02] aidanheerdegen opened #192 "Test GitHub integration with forum"
Use this to test using a PAT to link forum and hive

[2022-11-07 07:18] aidanheerdegen commented on #192
What if I link to the forum from here?

https://forum.access-hive.org.au/t/this-is-a-test-topic/48

[2022-11-07 21:21] navidcy commented on #179
I'm replying. :)

[2022-11-07 22:46] aidanheerdegen commented on #179
I have sent an invitation @navidcy. I've made you a reviewer to begin with. We don't have a policy about who is part of the editors group, which can make repos and merge PRs. If you need to do that we can add you to the Editors group.

ACCESS-Hive is a **portal** to find documentation, not host it, though it is possible to create another repository under the ACCESS-Hive organisation for some stand

[2022-11-08 01:26] lidefi87 commented on #187
That is great! I will be replying to the other issue shortly. Thanks!

[2022-11-08 01:27] lidefi87 commented on #179
I would like to become a contributor. I will likely be making some contributions to the documented examples soon. I am also happy to help testing some of the notebooks already published to make sure they are still working.

[2022-11-08 01:36] aidanheerdegen commented on #179
Hi Denisse (@lidefi87). I have invited you to become a member of ACCESS-Hive. Welcome!

Note that the main ACCESS-Hive website is simply a portal to existing documentation. This is important, because the community needs to access documentation now, but ACCESS-NRI doesn't have the resources to be able to take all existing documentation and re-publish it, and in many cases it couldn't, for licensing

[2022-11-08 06:34] lidefi87 commented on #179
Hi @aidanheerdegen, I just accepted the invitation. My focus is on using outputs for ecological questions, so I would like to contribute some examples that would help other ecologists assess whether ACCESS would be a suitable for their research. But, I am also happy to contribute to make it easier for others, especially less experienced users, to access outputs and learn the basics of data manipul

[2022-11-08 22:57] aidanheerdegen commented on #192
Test again

https://forum.access-hive.org.au/t/this-is-a-test-topic/48/4?u=aidanheerdegen

[2022-11-08 22:59] aidanheerdegen opened #194 "Test Github Integration again"
A new issue to see if link-back works from GitHub to forum.

[2022-11-08 23:00] aidanheerdegen commented on #194
https://forum.access-hive.org.au/t/this-is-a-test-topic/48/5

[2022-11-08 23:34] aidanheerdegen commented on #179
Hi Denisse (@lidefi87). Sounds like these should be included in the COSIMA Recipes, is that right? Perhaps this forum discussion would be a good place to suggest this and figure out a process for getting your examples included.

https://forum.access-hive.org.au/t/how-can-we-get-new-cosima-recipes/119

[2022-11-08 23:39] navidcy commented on #179
@lidefi87 has been invited as a cosima-recipes collaborator :)

[2022-11-09 02:46] lidefi87 commented on #179
Amazing! I have accepted your invitation @navidcy

[2022-11-09 04:20] MartinDix opened #195 "Link to ACCESS-CM2 and ESM1.5 training/documentation"
There is some material at https://confluence.csiro.au/display/ACCESS/ACCESS+Training

Also COE CMS documentation at http://climate-cms.wikis.unsw.edu.au/ACCESS

[2022-11-09 05:33] aidanheerdegen opened #197 "Add template for new event"
Already [added an issue template for adding new resources](https://github.com/ACCESS-Hive/access-hive.github.io/pull/196), but this isn't so relevant to new events, which in any case are a little trickier to add because it involves making a correctly formatted [YaML file](https://yaml.org/spec/1.2.2/).

It would be good to have a specific template for new events, particularly as it may lower the b

[2022-11-09 05:56] aidanheerdegen commented on #197
Damn! Now that I think about it, should have just had a yaml template for them to fill in. Doh!

[2022-11-09 22:18] paolap commented on #185
What are your long term plans with this section? I was wondering when I found it yesterday, as we are working on a portal to have all the data in one place, we could even create a ACCESS-NRI community to list only what's relevant to you, but just re-listing data in your hive seems like a lot of work and yet again another source for users.
A link tot he portal:
https://oneclimate.dmponline.cloud.ed

[2022-11-09 22:33] paolap opened #199 "Australian Community Reference Climate Data Collection @ NCI"
Thank you for sharing a resource with the ACCESS community

If there is a new resource you would like to add to the ACCESS-Hive please include the following information:

Link:
https://aus-ref-clim-data-nci.github.io/aus-ref-clim-data-nci/intro.html

Description:
A collaboration between the Australian Climate Service (ACS), ARC Centre of Excellence for Climate Extremes (CLEX) and the wider Austral

[2022-11-09 22:52] aidanheerdegen commented on #199
Sounds great, thanks! I've assigned it to you, but feel free to self-assign in the future if you have time to do the changes yourself.

[2022-11-09 23:14] aidanheerdegen commented on #185
Good point. I don't think we have long term plans. The only reason I put those there was I wanted to reference them from the ACCESS-OM section

https://access-hive.org.au/configurations/access-om/

Probably makes sense to not do that. Also makes sense to limit cross-linking in ACCESS-Hive itself, as that is a maintenance nightmare.

So I'll delete that section and remove the internal links.

[2022-11-09 23:49] #190 closed

[2022-11-09 23:51] aidanheerdegen commented on #194
Does linking back from GitHub work?

https://forum.access-hive.org.au/t/this-is-a-test-topic/48/5

[2022-11-09 23:56] aidanheerdegen commented on #194
I mis-read the [discourse-github documentation](https://meta.discourse.org/t/discourse-github/99895). The link-backs are one-way only, from the forum -> GitHub, but not from GitHub -> forum.

So working as described. Will close.

[2022-11-09 23:56] #194 closed

[2022-11-10 00:03] aidanheerdegen commented on #192
Note that this link-back is one-way only. Mentions on the forum will post links as above, but linking to forum posts on GitHub will not post a link-back to the forum.

[2022-11-10 00:03] #192 closed

[2022-11-10 00:17] aidanheerdegen commented on #184
Closed by https://github.com/ACCESS-Hive/access-hive.github.io/pull/191

[2022-11-10 00:17] #184 closed

[2022-11-10 02:53] dougiesquire opened #201 "Add additional resources to MED section"
Some additional resources to add to Model Evaluation and Diagnostics:

- [xskillscore](https://xskillscore.readthedocs.io/en/stable/#) : a Python package for computing a wide variety of skill metrics
- [climpred](https://climpred.readthedocs.io/en/stable/) : a Python package for verifying weather and climate forecasts
- [GCMeval](https://gcmeval.met.no/) : a web application for selection and evalu

[2022-11-10 02:59] dougiesquire commented on #195
Also this for ESM if not already included in the above links:
https://github.com/coecms/esm-lig

[2022-11-10 03:13] NBateman-bit commented on #179
I would like to be added please.

[2022-11-10 03:37] #185 closed

[2022-11-10 03:37] #189 closed

[2022-11-10 05:11] ccarouge commented on #179
Invitation sent to @NBateman-bit by @aidanheerdegen

[2022-11-10 05:16] aidanheerdegen commented on #179
Sorry, I should have said I had done this. Will try and remember to do so next time.

[2022-11-11 00:12] dougiesquire opened #202 "What's supposed to go in MED/Data processing?"
I'm confused about what the difference is between the content of the [MED/Data processing](https://access-hive.org.au/model_evaluation/data_processing/) page and the MED/component pages (e.g. [MED/Atmosphere](https://access-hive.org.au/model_evaluation/atmosphere/)). Both seem to document tools for data processing.

If an example is useful, where should a tool like [climpred](https://climpred.read

[2022-11-11 00:20] rbeucher commented on #202
I see your point and I agree it's confusing. I would put the link in both for now but we need a better way.

[2022-11-11 00:27] #202 closed

[2022-11-11 02:25] #201 closed

[2022-11-11 02:41] rbeucher opened #204 "Add NESP ACDG Data Portal"
https://oneclimate.dmponline.cloud.edu.au/

https://github.com/ACDguide/invenioClim/wiki/ACDG-data-portal

[2022-11-11 03:16] #204 closed

[2022-11-11 03:46] dougiesquire opened #207 "Links to collated indexes of tools?"
There're a few existing collated lists of tools that are relevant/useful to the climate community. Should we link these and where?

- https://pyaos.github.io/packages/
- some things in here: https://docs.xarray.dev/en/stable/ecosystem.html
- A few of us in the ACDG are working on a ["working with big data" Jupyter book](https://github.com/ACDguide/BigData) that includes lists of useful tools. It's

[2022-11-11 03:53] dougiesquire commented on #207
Relevant to #182. Where would something like this live?

[2022-11-13 21:59] navidcy opened #210 "Rename `ACCESS-Forum` to `ACCESS-Hive Forum`?"
I know that it may be too long name? But already some people are a bit confused with "ACCESS-Hive" and "ACCESS-Hive Forum" so if you add another extra name "ACCESS-Forum" they might think it's a new thing... (I know I thought of that myself!)

https://github.com/ACCESS-Hive/access-hive.github.io/blob/e9394401e7e7f4219bb3983fb3ac8dbf12418915/overrides/partials/nav.html#L80

[2022-11-13 22:04] navidcy commented on #210
I opened a PR. We can discuss here or there and decide if what I'm proposing is a good idea. I opened the PR mostly to be able to see how that would render.

[2022-11-13 22:41] aidanheerdegen commented on #210
Hate to be a pain, but we should probably update the navigation tab which just says "Forum".

[2022-11-13 22:44] rbeucher commented on #210
@navidcy is right. Should be ACCESS-Hive Forum.

Not sure about the tab...

[2022-11-13 23:01] navidcy commented on #210
It just says "Forum" which is OK I feel.
It's the "ACCESS Forum" that I was pushing back.

It's in the menubar of ACCESS-Hive so it's quite obvious that it's the Hive's forum.

[2022-11-13 23:07] aidanheerdegen opened #213 "PR templates are intimidating"
I am relaying a user story:

[2022-11-13 23:08] navidcy opened #214 "Some repository settings suggestions"
I suggest:

<img width="504" alt="Screen Shot 2022-11-14 at 10 06 50 am" src="https://user-images.githubusercontent.com/7112768/201549400-69d8fce5-175c-44f5-bb03-fd25af685fd5.png">

[2022-11-13 23:11] navidcy opened #215 "How can users get support from ACCESS-NRI?"
Should the ACCESS-Hive include some info on how simple users can get help?

This: https://access-hive.org.au/about/support/ just mentions to contact ACCESS-NRI directly.

Perhaps point users to the forum and urge them to search through there to see if what they are struggling with has been discussed before or open a new discussion if not?

[2022-11-14 00:02] #213 closed

[2022-11-14 22:47] rbeucher opened #218 "Add new Hive Logo"
We need to change the logo to the new HIve logo.

[2022-11-15 03:05] ccarouge commented on #214
Done.

[2022-11-15 03:05] #214 closed

[2022-11-15 03:06] ccarouge opened #220 "Fix button on home page for dark mode"
The button to go to the contribution guidelines ("How to contribute") "disappears" in dark mode, it needs some tweaking with the colours.

[2022-11-15 04:16] ccarouge commented on #218
Wasn't this done in #219 ?

[2022-11-15 04:19] rbeucher commented on #218
Yep. That's the issue that should have been attached...

[2022-11-15 04:19] #218 closed

[2022-11-15 04:52] #220 closed

[2022-11-15 05:02] ccarouge commented on #215
The contact page needs some updates along the same lines as well: https://access-hive.org.au/about/contact/

The forum should be added.

Actually, maybe the "support" page should link to the "contact" page which seems to have more information on how to get support than the "support" page does. 🙃

[2022-11-15 05:10] ccarouge commented on #43
@aidanheerdegen I think we're done here? We might need a new section or tab somewhere for #207 or #182 but that's normal evolution of the site.

[2022-11-15 05:12] ccarouge commented on #68
@rbeucher @aidanheerdegen I'm guessing we need to review the colour theme for the forum as well now?

[2022-11-15 05:12] ccarouge commented on #72
Closing this as I think we addressed most issues and have opened issues for what is left to address. Or things have become outdated.

[2022-11-15 05:12] #72 closed

[2022-11-15 05:13] #119 closed

[2022-11-15 05:13] ccarouge commented on #127
Closing this as I think we have addressed or are addressing the feedback through various issues.

[2022-11-15 05:13] #127 closed

[2022-11-15 05:15] ccarouge commented on #134
I'd say this was done? Can you confirm please?

[2022-11-15 05:17] ccarouge commented on #146
There is now a code of conduct on the ACCESS-NRI website we can refer to from the Hive: https://www.access-nri.org.au/community/access-nri-code-of-conduct/

[2022-11-15 05:20] ccarouge commented on #147
This says there is an acknowledgment or citation text. I can't see it. Do we need one or not?

[2022-11-15 05:24] ccarouge commented on #195
@dougiesquire the GitHub repository is only one of several: one such repository per configuration ported to `payu`. All of them are discoverable from the CMS wiki ACCESS page given by Martin. But we probably want to make things easier for people and put http://climate-cms.wikis.unsw.edu.au/ACCESS-ESM_1.5 under ACCESS-ESM. This page has links to the GitHub repositories for all the configurations po

[2022-11-15 05:26] ccarouge commented on #210
Agree with @navidcy: the tab can still say "Forum". @aidanheerdegen disagree or should we close this again?

[2022-11-15 05:40] rbeucher commented on #210
Yep we close this again...;-)

[2022-11-15 05:41] rbeucher commented on #147
What do you mean? There is one

[2022-11-15 05:43] rbeucher commented on #147
![image](https://user-images.githubusercontent.com/3680918/201835901-6ac30d19-3c81-47ee-875b-f7889bd79061.png)

[2022-11-15 05:45] rbeucher commented on #134
No it wasn't @kdruken wanted to go through it.

[2022-11-15 05:45] rbeucher commented on #68
Done already.

[2022-11-15 05:46] rbeucher commented on #68
Well maybe not the blue

[2022-11-15 05:47] rbeucher commented on #68
I have changed it. Could be tweaked a bit more maybe?

[2022-11-15 05:48] rbeucher commented on #146
OK Where does that go?

[2022-11-15 05:55] aidanheerdegen commented on #210
Sure.

[2022-11-15 05:55] #210 closed

[2022-11-15 05:57] aidanheerdegen commented on #68
Looks good to me.

[2022-11-15 06:00] aidanheerdegen commented on #146
Sub-section of About. I can do it.

[2022-11-15 06:19] kdruken commented on #134
Leaving this with @rbeucher to decide if he'd like to keep as is or rephrase slightly (he had good suggestion to use as opportunity to direct people to forum to add feedback/discuss across these topics). Will leave with him.

[2022-11-15 07:05] #146 closed

[2022-11-15 07:10] #68 closed

[2022-11-15 07:34] rbeucher commented on #43
Yes I agree. Closing this one.

[2022-11-15 07:34] #43 closed

[2022-11-15 22:18] ccarouge commented on #147
I don't think the citation was for a specific model. I think the original idea was to add a citation terxt for people to use when referring to material from the ACCESS-Hive, so a Hive-wide citation. Since ACCESS-Hive is only a bunch of links, it always sounded strange to me but I'm not fussed about this.

[2022-11-15 22:24] rbeucher commented on #147
I see. I can't see how we could have that. For new content maybe but not the Hive. Anyway, let's close this.

[2022-11-15 22:24] #147 closed

[2022-11-15 22:31] aidanheerdegen commented on #207
Yeah I now think it is probably too low level to just link to a single package (like `xmovie`), and pointing to curated/collated indexes of tools makes more sense. So we should decide on an index to link to and contribute resources to it. I didn't realise pyaos was still going, I thought the folks working on it had joined in with pangeo.

So is https://pyaos.github.io/ where we should be adding in

[2022-11-15 22:32] aidanheerdegen commented on #182
See #207, but this should be added to a relevant index of tools rather than linked directly in the ACCESS-Hive.

[2022-11-15 22:52] navidcy commented on #182
Definitely worths putting a link.
I'd suggest link to the stable version of the docs --> https://xmovie.readthedocs.io/en/stable/examples/quickstart.html

[2022-11-15 22:54] aidanheerdegen commented on #207
As for where to put the links, I guess https://access-hive.org.au/model_evaluation/data_processing/

Either in the Data Processing Tools section with it's own sub-heading, or making a new section "Tool catalogs" or similar? In which case maybe it makes sense for `xskillscore` to be listed in an index/catalog? Where to draw lines and organise stuff is fuzzy, so it is fine to iterate a bit to find a

[2022-11-15 22:56] dougiesquire commented on #207
Project Pythia is another great resource to link that's rapidly expanding: https://projectpythia.org/

[2022-11-15 23:00] ccarouge opened #223 "Change icons in Model components table"
We need to use the new icons in the model components table with the names of the components at the top of the icon.

[2022-11-15 23:01] aidanheerdegen commented on #182
What I'm suggesting is to add it to an index of packages like https://pyaos.github.io/packages/

[2022-11-15 23:03] navidcy commented on #182
Yes. And those packages perhaps be installed in the conda-analysis env?

Who is maintaining the conda-analysis envs? ACCESS-NRI? CMS? Other?

[2022-11-15 23:04] aidanheerdegen commented on #182
CMS. You can make an issue in the repo to add packages

https://github.com/coecms/conda-envs/issues

[2022-11-15 23:19] ccarouge opened #225 "Clarify instructions to add events"
For newcomers to GitHub, it can be confusing to know what are all the steps needed when adding an event.

The [Add event](https://access-hive.org.au/events/add_event/) page explains how to create the file but does not say where (in a branch) and does not explain the pull request process.

[2022-11-16 00:42] aidanheerdegen commented on #207
Project Pythia does look very good already, and as you say increasing rapidly. It has a [resources page](https://access-hive.org.au/model_evaluation/data_processing/) that looks to be slightly different in scope to the pyaos index.

Project Pythia is something that is worthwhile linking to in ACCESS-Hive I think.

[2022-11-16 01:05] aidanheerdegen opened #227 "Markdown link check false positives"
The markdown-link check sometimes throws up false positives when a website doesn't respond quickly enough, or there is some temporary network issue or outage.

I propose we set `check-modified-files-only` to `yes` for PRs. That way contributors will not have to make decisions about dead links that are not to do with their PR.

In addition we should have a scheduled run that does a full link check,

[2022-11-16 01:06] #223 closed

[2022-11-16 01:15] ccarouge commented on #227
Would you do a full link check when merging a PR or only a scheduled run?

[2022-11-16 01:32] ccarouge opened #228 "Work on the contribution guidelines"
Some information is missing from or placed awkwardly in the contribution guidelines:

- Information on how to add a support tag is missing
- The information about the site being written in Markdown is badly placed
- Need some words about adding an event
- Change the placement of the installation for editing locally.

[2022-11-16 01:53] DamienIrving commented on #207
I spoke with Project Pythia a while back about them hosting / taking over the maintenance of the PyAOS package index but they weren't interested. Like you say, the vision for their resource gallery is a little different than for the package index.

[This page](https://github.com/PyAOS/pyaos.github.io/blob/master/README.md#scope) explains the scope of the PyAOS package index - very happy to receive

[2022-11-16 02:37] aidanheerdegen commented on #227
Only a scheduled run I think. It isn't the responsibility of someone who submits a PR to figure out if other links are permanently down or not.

[2022-11-16 03:02] aidanheerdegen commented on #207
Thanks @DamienIrving. It isn't straightforward to define the scope of something (as we are discovering in real time!), so well done for doing so.

Sounds like we should, in the first instance, encourage PRs to your PyAOS package index, with reference to the scope of the project. No doubt there will be some that aren't appropriate, and feel free to let us know.

As a first cab off the rank, do you

[2022-11-16 04:12] ccarouge commented on #225
I have addressed some of this in #229 @aidanheerdegen but I'm probably doing something that is complementary to what you are looking into.

[2022-11-16 04:20] aidanheerdegen commented on #225
Yeah I noticed. See #230

[2022-11-16 04:31] DamienIrving commented on #207
xskillscore is a good suggestion - added :smile: https://github.com/PyAOS/pyaos.github.io/commit/9cda705d3eea18aa86aa2eb40921aefb819c4421

Incorporating some objective metrics into the decision making for which packages get included in the index is definitely worth thinking about - I've created an issue to start taking notes on the topic: https://github.com/PyAOS/pyaos.github.io/issues/7

Feel fre

[2022-11-16 04:36] ccarouge commented on #227
I agree with what you propose and no check when merging the PR.

[2022-11-16 05:06] #228 closed

[2022-11-16 05:14] aidanheerdegen opened #231 "Specify Reviewers team for review"
Currently when submitting a pull request we ask that contributors request a review by tagging the reviewers team. e.g. https://github.com/ACCESS-Hive/access-hive.github.io/pull/229#discussion_r1023503528 and in the review template.

It is possible to specifically request a team review a PR (it is inconsistent that this isn't possible when assigning an issue, hence there is some confusion about whe

[2022-11-16 05:16] #197 closed

[2022-11-16 05:18] aidanheerdegen opened #232 "[New Event]: Testing"
### Event title

Community Modelling Workshop

### Start date

30/10/2024

### End date

31/10/2024

### Location

Da Moon (virtual and online)

### Website

https://moon.nasa.gov

### Description

All and everything about the moon. You definitely want to be there.

[2022-11-16 05:19] aidanheerdegen commented on #232
@ccarouge @rbeucher Whaddyareckon?

[2022-11-16 05:23] rbeucher commented on #232
Do you want to use that as a template?

[2022-11-16 05:42] aidanheerdegen commented on #232
That is the result from the form input, check it out yourself

https://github.com/ACCESS-Hive/access-hive.github.io/issues/new?assignees=&labels=New+Event&template=new-event.yml&title=%5BNew+Event%5D%3A+

[2022-11-16 05:47] aidanheerdegen commented on #232
It would be nice if the form could output yaml directly, but alas no. Or not that I could find.

[2022-11-16 05:59] aidanheerdegen commented on #215
I'll look into it.

[2022-11-16 06:17] aidanheerdegen commented on #215
Contact is maybe different to support, but yeah point taken.

I think we should we remove slack, if we're planning on emphasising the forum as the best place to ask questions.

[2022-11-17 01:06] ccarouge commented on #232
It's fine for me.

[2022-11-17 04:00] ccarouge commented on #231
Is the behaviour the same, ie. the whole team receives a notification about the pull request? Except the notification is a request for review and not a mention. Would that confuse some reviewers who would then think they need to review it instead of a choice of who picks it?

[2022-11-17 04:01] aidanheerdegen commented on #231
Short story: it is configurable

https://docs.github.com/en/organizations/organizing-members-into-teams/managing-code-review-settings-for-your-team

[2022-11-17 04:07] ccarouge commented on #231
We discussed this before. So what's preferable:

- notify the whole team and let people self-assign
- use an algorithm from GitHub to choose for us

Am I complicating things for nothing? Should we just start with the default and move to using the GitHub algorithms if we see some issues?

[2022-11-17 10:51] #227 closed

[2022-11-17 23:13] aidanheerdegen opened #235 "Add link health badge"
Should add a badge with the status of the scheduled full link check test to the repo README. Maybe add to site too if that is considered useful.

[2022-11-18 00:45] aidanheerdegen opened #236 "Fix link checking issues"
First full run of the link checking threw up [some errors](https://github.com/ACCESS-Hive/access-hive.github.io/actions/runs/3492763884/jobs/5846879326):

I think this is because of a mal-formed config file

https://github.com/ACCESS-Hive/access-hive.github.io/blob/main/.github/workflows/mlc_config.json#L22

[2022-11-18 00:46] dougiesquire commented on #235
Is there an easy way to keep track of links that fail to flag links that have been failing for a while (without remembering/going through CI logs)?

[2022-11-18 00:50] aidanheerdegen commented on #235
Je ne comprends pas

[2022-11-18 01:02] aidanheerdegen commented on #235
I did wonder about automatically making an issue for failing links, but wanted to get a feeling for just how onerous that might be before doing it.

[2022-11-18 05:35] #236 closed

[2022-11-18 05:46] #235 closed

[2022-11-21 05:13] #232 closed

[2022-11-21 22:48] #215 closed

[2022-11-21 22:48] #225 closed

[2022-11-21 23:37] aidanheerdegen opened #239 "Maintaining citations easily and consistently"
It is possible to automatically generate BibTeX files from a DOI

https://chrisholdgraf.com/blog/2022/orcid-auto-update/

This would be an easier and more consistent method for maintaining citations: just add a DOI to a file and generate the `.bib` file using CI. The generation step has the potential to be a useful check that the citation is correct, or at least that the DOI resolves to something.

[2022-11-29 01:14] heidinett opened #240 "Add "Resources" tab to horizontal navigation bar"
It is possible to add a "Resources" tab to horizontal navigation bar on the Forum? The idea is to put a glossary of common terms and acronyms used by the ACCESS community (mentioned in the links below) in this category. Policy-related content under the Training and Policies tab could also be moved into the Resources category.

https://www.access-nri.org.au/community/access-glossary/
https://www.ip